@font-face {
	font-family: 'Inter';
	src: local('Inter Extra Light'), local('Inter-Extra-Light'),
		url('../fonts/Inter-ExtraLight.woff2') format('woff2'),
		url('../fonts/Inter-ExtraLight.woff') format('woff'),
		url('../fonts/Inter-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Regular'), local('Inter-Regular'),
		url('../fonts/Inter-Regular.woff2') format('woff2'),
		url('../fonts/Inter-Regular.woff') format('woff'),
		url('../fonts/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Medium'), local('Inter-Medium'),
		url('../fonts/Inter-Medium.woff2') format('woff2'),
		url('../fonts/Inter-Medium.woff') format('woff'),
		url('../fonts/Inter-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Semi Bold'), local('Inter-Semi-Bold'),
		url('../fonts/Inter-SemiBold.woff2') format('woff2'),
		url('../fonts/Inter-SemiBold.woff') format('woff'),
		url('../fonts/Inter-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Bold'), local('Inter-Bold'),
		url('../fonts/Inter-Bold.woff2') format('woff2'),
		url('../fonts/Inter-Bold.woff') format('woff'),
		url('../fonts/Inter-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@media (min-width: 1200px) {
	.page-documentation .container {
		width: 1200px;
	}
}

.page-documentation {
	padding-top: 30px;
	font-family: 'Inter';
}
.section-catalog {
	font-family: 'Inter';
}
.title-section {
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
	color: #000;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 89px;
	font-family: 'Inter';
}
.logo-manual {
	height: 37px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo-manual img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.item-manual {
	font-size: 12px;
	gap: 5px;
	font-weight: 600;
	color: #000;
	text-decoration: none;
	display: flex;
	align-items: center;
	transition: all 0.3s;
}
.item-manual:hover {
	color: #67b0d6;
}
.item-manual__image {
	width: 128px;
	height: 128px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.item-manual__image img {
	max-width: 100%;
	max-height: 100%;
}
.page-documentation .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.page-documentation .row>div {
	float: none;
}
.row.row_manual>div {
	border-right: 1px solid rgba(124, 124, 124, 1);
}
.row.row_manual>div:last-child {
	border: none;
}
.divider-main {
	width: 892px;
	background: rgba(0, 0, 0, 1);
	max-width: 100%;
	margin: 0 auto;
	height: 1px;
	margin-top: 85px;
	margin-bottom: 50px;
}
.grid-cards {
	gap: 47px 70px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.unit-card {
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	text-align: center;
	display: block;
	color: #000;
	text-decoration: none;
	transition: all 0.3s;
}
.unit-card:hover {
	color: #67b0d6;
}
.unit-card__image {
	width: 145px;
	height: 205px;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
}
.unit-card__image::before {
	position: absolute;
	display: block;
	content: " ";
	top: -5px;
	right: -5px;
	left: 5px;
	bottom: 5px;
	background: rgba(196, 196, 196, 1);
	z-index: -1;
}
.unit-card__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.section-catalog .title-section {
	margin-bottom: 65px;
}
@media only screen and (max-width : 1200px) {
	.item-manual__image {
		width: 90px;
		height: 90px;
		padding: 5px;
	}
	.logo-manual {
		height: 33px;
		margin-bottom: 37px;
	}
	.item-manual {
		font-size: 11px;
	}
	.grid-cards {
		gap: 35px 32px;
	}
	.title-section {
		font-size: 22px;
		margin-bottom: 60px;
	}
}
@media only screen and (max-width : 992px) {
	.row.row_manual>div:nth-child(even) {
		border: none;
	}
	.grid-cards {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.section-catalog .title-section {
		margin-bottom: 40px;
	}
	.divider-main {
		width: 500px;
	}
}
@media only screen and (max-width : 768px) {
	.title-section {
		font-size: 22px;
		margin-bottom: 30px;
		line-height: 1.6;
	}
	.item-manual {
		font-size: 13px;
		margin-bottom: 15px;
		display: block;
		text-align: center;
	}
	.item-manual__image {
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.logo-manual {
		margin-bottom: 30px;
		margin-top: 15px;
	}
	.divider-main {
		margin-top: 50px;
		margin-bottom: 32px;
	}
	.section-catalog .title-section {
		margin-bottom: 28px;
	}
	.grid-cards {
		gap: 23px 10px;
		grid-template-columns: 1fr 1fr;
	}
}

.page-inner {
	padding-top: 30px;
	padding-bottom: 100px;
}
.page-inner .title-section {
	font-size: 28px;
	margin-bottom: 0;
	color: #143546;
}
.page-inner__head {
	padding: 0 40px;
	margin-bottom: 30px;
	position: relative;
}
.link-back {
	position: absolute;
	display: block;
	width: 24px;
	height: 24px;
	top: 0;
	left: 0;
	background-image: url(../img/ic_back.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 2;
}
.logo-page-manual img {
	max-width: 310px;
	display: block;
	margin: 0 auto;
	height: auto;
}
.subtitle-section {
	font-size: 20px;
	margin: 40px 0;
	gap: 30px;
	line-height: 140%;
	text-transform: uppercase;
	color: #143546;
	position: relative;
	display: flex;
	align-items: center;
}
.subtitle-section::after {
	position: relative;
	display: block;
	content: " ";
	flex: 1;
	background: rgba(20, 53, 70, 0.3);
	height: 1px;
}
.unit-manual {
	display: block;
}
.unit-manual__image {
	height: 410px;
	margin-bottom: 23px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.unit-manual__image img {
	max-width: 100%;
	max-height: 100%;
}
.unit-manual__title {
	font-size: 20px;
	gap: 14px;
	line-height: 140%;
	font-weight: 400;
	color: #143546;
	display: flex;
	font-family: Helvetica, sans-serif;
	align-items: flex-start;
}
.unit-manual__title::before {
	position: relative;
	display: block;
	content: " ";
	width: 24px;
	height: 24px;
	flex: none;
	background-image: url(../img/ic_download.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.row.row_units>div {
	margin-bottom: 39px;
}
.row.row_units {
	margin-bottom: -39px;
}
@media only screen and (max-width : 1200px) {
	.page-inner .title-section {
		font-size: 24px;
	}
	.subtitle-section {
		font-size: 18px;
		margin: 32px 0;
		gap: 25px;
	}
	.unit-manual__title {
		font-size: 17px;
		gap: 12px;
	}
}
@media only screen and (max-width : 768px) {
	.page-inner .title-section {
		font-size: 22px;
	}
	.logo-page-manual img {
		max-width: 255px;
	}
	.subtitle-section {
		font-size: 15px;
		margin: 25px 0;
		gap: 15px;
	}
	.unit-manual__image {
		height: 260px;
		margin-bottom: 15px;
	}
	.unit-manual__title {
		font-size: 14px;
		gap: 10px;
	}
	.unit-manual__title::before {
		width: 18px;
		height: 18px;
	}
	.row.row_units>div {
		margin-bottom: 25px;
	}
	.row.row_units {
		margin-bottom: -25px;
	}
	.page-inner {
		padding-bottom: 60px;
	}
}